<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
</head>

<body bgcolor="gray">

    <header>

        <h1>Welcome to calculator</h1>
    </header>
    <a href="#">Home</a> | <a href="#">About</a> | <a href="#">Contact</a>

    <main>
        {% block content %}
        <!-- Child templates will override this -->
        {% endblock %}
    </main>



</body>

</html>