<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body bgcolor='F0F0E9'>
    <h1>Contact Information</h1>
    <div colo class="contact-info">
        <p>📞 Customer care : 7876604428</p>
        <p>📧 Email: SinghDaljeet@seasiaconnect.com</p>
        <p>📞 Customer Care Head: 8894103988</p>
        <p> Instsgram <a href="https://www.instagram.com/daljit_00012/"> daljit_00012</a> </p>
    </div>

    <img src="{% static 'images/support.jpeg' %}" alt=" Image" class="banner">
</body>

</html>