<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refund Policy</title>
    {% load static %}
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
            margin-top: 50px;
        }

        .sorry-img {
            margin-top: 20px;
            max-width: 50%;
            height: auto;
        }
    </style>
</head>

<body>
    <h2>Oops! Sorry, we have no refund policy.</h2>
    <img src="{% static 'images/sorry1.png' %}" alt="Sorry Image" class="sorry-img">
</body>

</html>